source https://api.nuget.org/v3/index.json

nuget Avalonia.Desktop 0.9.7
nuget coverlet.collector 1.2.0
nuget Fare 2.1.2
nuget FParsec 1.1.1
nuget FsCheck 2.14.3
nuget FsCheck.Xunit 2.14.3
nuget FSharp.Core >= 4.0
nuget FSharp.Data 3.3.3
nuget FsUnit.xUnit
nuget JaggerJo.Avalonia.FuncUI 0.4.0
nuget JaggerJo.Avalonia.FuncUI.DSL 0.4.0
nuget JaggerJo.Avalonia.FuncUI.Elmish 0.4.0
nuget McMaster.NETCore.Plugins
nuget Microsoft.NET.Test.Sdk 16.5.0
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0